[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==7.1.1"
decorator = "==4.4.2"
itsdangerous = "==1.1.0"
joblib = "==0.14.1"
kiwisolver = "==1.2.0"
lxml = "==4.9.1"
matplotlib = "==3.2.1"
networkx = "==2.4"
nltk = "==3.5"
numpy = "==1.18.5"
pandas = "==1.0.4"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.1"
python-igraph = "==0.8.2"
pytz = "==2020.1"
pywsd = "==1.2.4"
regex = "==2020.4.4"
six = "==1.15.0"
texttable = "==1.6.2"
tqdm = "==4.45.0"
wn = "==0.0.23"
Cycler = "==0.10.0"
Flask = "==1.1.2"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
PyYAML = "==5.3.1"
Werkzeug = "==1.0.1"
Whoosh = "==2.7.4"

[requires]
python_version = "3.7"
