<div id="multi-field-query">
  <a id="multi-field-query-action" href="#">
    Visualizza ricerca avanzata
  </a>
  <div id="multi-field-query-dropdown">
    <label for="pub_title">Titolo</label>
    <input type="text" id="pub_title" placeholder="Inserisci articolo" />

    <label for="pub_author">Autore</label>
    <input type="text" id="pub_author" placeholder="Inserisci autore" />

    <label for="pub_category">Categoria</label>
    <input type="text" id="pub_category" placeholder="Inserisci categoria" />

    <button type="submit">
      Esegui ricerca avanzata
    </button>
  </div>
</div>
