
@media (max-width: 576px) {
  .search-bar {
    width: 275px;
  }

  .logo-full {
    width: 100%;
    height: auto;
  }

  header {
    flex-wrap: wrap;
  }

  .modal-window {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}