
.results {
  grid-template-columns: repeat(1, [col-start] minmax(320px, 682px) [col-end]);
  grid-template-rows: none;
  grid-auto-rows: minmax(min-content, max-content);
}


nav.top-right-center {
  grid-column: 2 / span 2;
  margin-right: 16px;
}

nav form.search-form {
  grid-template-columns:  1fr 60px;
}

nav form.search-form > input {
  align-self: center;
  padding: 0px 20px;
  width: 100%;
  height: 41px;
}

nav form.search-form > button {
  height: 41px;
  padding: 10px;
  align-self: center;
}

main {
  display: grid;
  grid-template-columns: 30% auto;
  grid-auto-rows: 100px;
  grid-row: content;
  row-gap: 27px;
  margin: 20px;
  /*overflow-y: scroll;*/
  /*height: calc(100vh - 27px)*/
}
article a {
  text-decoration: none;
}
article a .resource {
  max-width: 320px;
  color: #0d6e5c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-underline: none;
}

article a .title {
  text-decoration: none
}
article a .title:hover {
  text-decoration: underline;
}

article .text {
  color: var(--color-grey);
  word-break: break-word;
}

@media (min-width: 990px) {
  main {
    margin: 0 0 0 85px
  }
}

main article:first-child{
  margin-top: 24px;
}