@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

:root {
    --color-primary: #0052D4;
    --color-secondary: #4364f7;
    --color-light--grey: #d2d6dd;
    --color-grey: #747681;
    --color-dark--grey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-max--width: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-family: "Roboto", sans-serif;
    --gradient-primary: #0052D4, #4364F7, #6FB1FC; /* Bluelagoo */

    --color-light: #f7fafe;
    --color-primary-opaque: #0052d45e;

    --shadow--small: 0 2px 4px #ebecf7;
}

* {
    box-sizing: border-box;
    margin: 0;
}
body, html{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
}

h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: 0.90rem;
}

h4 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
}

strong {
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #d2d6dd, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #d2d6dd, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #d2d6dd, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #d2d6dd, #f0f0f0);
    margin: 32px 0 32px 0;
}

/*hr.primary {*/
/*    border: 0;*/
/*    height: 1px;*/
/*    background-image: -webkit-linear-gradient(left, #f0f0f0, var(--color-primary), #f0f0f0);*/
/*    background-image: -moz-linear-gradient(left, #f0f0f0, var(--color-primary), #f0f0f0);*/
/*    background-image: -ms-linear-gradient(left, #f0f0f0, var(--color-primary), #f0f0f0);*/
/*    background-image: -o-linear-gradient(left, #f0f0f0, var(--color-primary), #f0f0f0);*/
/*}*/

