<!doctype html>
<html>
  <head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_mini.png') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_mini.png') }}"/>
    <title>
      {% block title %}Progetto{% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/root.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icons/open-iconic.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/_grid.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/_skeleton.css') }}" />
<!--    TODO bundle inside wikoogle.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wikoogle.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/_helper.css') }}" />


    {% block stylesheet %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/_media.css') }}" />
  </head>

  <body>
  <div class="page">
		<header class="pt-3">
			{% block header %}
				<div class="nav-item__left">
					{% block header_left %} {% endblock %}
				</div>

				<div class="nav-item__center">
					{% block header_center %} {% endblock %}
				</div>

				<div class="nav-item__right">
					{% include 'partials/header_options.html' %}
				</div>

			{% endblock %}
		</header>
{#      {% block header %}#}
{#          {% include 'partials/header.html' %}#}
{#      {% endblock %}#}

      {% block content %}{% endblock %}

      {% block footer %}
<!--        <footer>-->
<!--          <span class="title">Gestione dell'informazione 2019/2020</span>-->
<!--          <hr/>-->
<!--          <span class="subtitle">&copy; Singh Amarjot, Matteo Guerzoni</span>-->
<!--        </footer>-->
      {% endblock %}
    </div>

		{% block modals %}
			{% include 'partials/settings.html' %}
			{% include 'partials/about.html' %}
		{% endblock %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/wikoogle.js') }}"></script>
    {% block javascript %}{% endblock %}
	</body>
</html>
