<!doctype html>
<html>
  <head>
    <title>
      {% block title %}Progetto{% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/_skeleton.css') }}" />

    {% block stylesheet %}{% endblock %}
  </head>

  <body>
    <div class="page">
      {% block header %}
        <header>
          <nav class="top-left">Wikoogle</nav>
          <nav class="top-right">Homepage</nav>
          </nav>
        </header>
      {% endblock %}

      {% block content %}{% endblock %}

      {% block footer %}
        <footer>
          Here is footer
        </footer>
      {% endblock %}
    </div>

    {% block javascript %}{% endblock %}
  </body>
</html>
