{% extends "_skeleton.html" %}

{% block title %}Wikoogle - Search results{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultpage.css') }}"/>
    <!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/partials/multi-field-query.css') }}" />-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/partials/search-form.css') }}"/>
{% endblock %}

{% block header_left %}
    <div class="flex-container">
        <img class="logo-mini img-responsive mr-3" src="{{ url_for('static', filename='images/logo_mini.png') }}"/>
        {% include 'partials/searchbar.html' %}
    </div>
{% endblock %}

{% block content %}
  <main class="grid-container">
{#		<hr class="col-3 row-1"/>#}
    {% for result in results %}
      <article>
        <small>en.wikipedia.org/resource</small>
        <a href="#">{{ result.title }}</a>
        <span class="text">{{ result.snippet() | safe }}</span>
      </article>
    {% endfor %}
  </main>
{% endblock %}

{% block javascript %}
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/homepage.js') }}"></script> -->
{% endblock %}
