{% extends "_skeleton.html" %}

{% block title %}Wikoogle - Search results{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultpage.css') }}"/>
    <!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/partials/multi-field-query.css') }}" />-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/partials/search-form.css') }}"/>
{% endblock %}

{% block header_left %}
	<div class="flex-container">
		<a href="/">
			<img class="logo-mini mr-3" src="{{ url_for('static', filename='images/logo_mini.png') }}"
					 onclick=""/>
		</a>
		<form method="GET" action="/search">
			{% include 'partials/searchbar.html' %}
		</form>
	</div>
{% endblock %}

{% block content %}
	<main class="grid-container results">
		{#		<hr class="col-3 row-1"/>#}
		{% for result in results %}
			<article class="flex flex-col mr-6">
				<a href="{{ result.resource }}" target="_blank">
					<p class="resource caption">
						{{ result.resource }}
					</p>
					<h3 class="title mt-1">
						{{ result.title }}
					</h3>
				</a>
				<p class="text mt-1">{{ result.snippet() | safe }}</p>
			</article>
		{% endfor %}
	</main>
{% endblock %}

{% block javascript %}
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/homepage.js') }}"></script> -->
{% endblock %}
