form.search-form {
  display: grid;
  grid-template-columns: auto 60px;
  justify-content: center;
  height: 100%;
}

form.search-form > input {
  grid-row: 1;
  align-self: end;
  box-sizing: border-box;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: aliceblue;
  border: 1px solid #dedede;
  border-right: none;
  outline: none;
  height: 60px;
  padding: 20px;
  font-size: 18px;
}

form.search-form > button {
  grid-row: 1;
  align-self: end;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: aliceblue;
  border: 1px solid #dedede;
  border-left: none;
  outline: none;
  width: 100%;
  height: 60px;
  padding: 20px;
}

form.search-form > button svg {
  width: 18px;
  height: 18px;
}
